ALPACA_API_KEY=PKXXXXXXXXXXXXXXXXXX
ALPACA_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ALPACA_PAPER=true
WEBHOOK_PASSPHRASE=your_secret_tradingview_passphrase
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8000
